.news-item {
  display: flex;
  width: 100%;
  gap: 12px;
}

.wrapper {
  width: 64px;
    height: 64px;
  overflow: hidden;
  background: #f2f4f5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

// .image {
//   width: 64px;
//   height: 64px;
//   width: 100%;
//   object-fit: cover;
// }

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: #6c7072;
}
