* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 24px;
  min-height: 100vh;
}
